<!-- Header begin-->
<div id="header" class="clearfix">
    <div id="logo" ><a href="index.html" class=""><img src="/images/periwinkle.jpg" style="max-width:100%;"/></a></div>
    
    <!-- Navigation start -->
    <ul class="sf-menu">
        <li> <a href="home.html">Home</a>
        </li>
        <li><a href="contact.html">Contact</a>
        </li>
        <li> <a href="about.html">About</a>
            <ul>
                <li> <a href="office.html">Office</a></li>
                <li> <a href="approach.html">Approach</a></li>
                <li> <a href="methods.html">Methods</a></li>
            </ul>
        </li>
        <li><a href="programs.html">Programs</a>
            <ul>
                {% for item in site.programs %}
                <li><a href="{{ item.url }}">{{ item.title }}</a></li>
                {% endfor %}
            </ul>
        </li>
        <li> <a href="testimonials.html">Testimonials</a>
            <ul>
                {% for item in site.testimonials %}
                <li><a href="{{ item.url }}">{{ item.title }}</a></li>
                {% endfor %}
            </ul>
        </li>
    </ul>
    <!-- Navigation end --> 
</div>
<!-- Header end --> 