<head>
<!-- Meta info begin-->
<title>{{ site.title }} | {{ page.title }}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="robots" content="index, follow" />
<!-- Meta info end-->
<link rel="stylesheet" type="text/css" href="/peekaboo/css/style.css" />
<link rel="stylesheet" type="text/css" href="/peekaboo/css/default.css" />
<link rel="stylesheet" href="/peekaboo/css/nivo-slider.css" type="text/css" media="screen" />
<link rel="shortcut icon"  href="/peekaboo/img/favicon.ico" />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script type="text/javascript" src="/peekaboo/js/cufon-yui.js"></script>
<script type="text/javascript" src="/peekaboo/js/Museo.font.js"></script>
<script type="text/javascript" src="/peekaboo/js/Museo_Sans.font.js"></script>
<script type="text/javascript" src="/peekaboo/js/superfish-compile.js"></script>
<script type="text/javascript" src="/peekaboo/js/jquery.nivo.slider.pack.js"></script>
<script type="text/javascript" src="/peekaboo/js/jquery.tinycarousel.min.js"></script>
<script type="text/javascript" src="/peekaboo/js/jquery.colorbox.js"></script>
<script type="text/javascript" src="/peekaboo/js/jquery.tweet.js"></script>
<script type="text/javascript" src="/peekaboo/js/p2.js"></script>
</head>
