<div  id="sidebar-home" class="left">
    <div class="sidebar-widget shadow-light">
        <div class="testimonials-container ">
            <h3 class="replace">What they say</h3>
            <p><a href="#">{{ site.sidebar-testimonial.quote }}</a><br/>
                <small><em>{{ site.sidebar-testimonial.attribution }}</em></small></p>
        </div>
    </div>
    <div class="sidebar-widget shadow-light">
        <div class="directions">
            <h3 class="replace"><a href="#">Directions<br/>
                <span>to our centers</span> </a></h3>
        </div>
    </div>
    <div class="sidebar-widget shadow-light">
        <div class="download">
            <h3 class="replace"><a href="#">Download<br/>
                <span>our pdf brochure</span></a></h3>
        </div>
    </div>
</div>